---
import { currentLocale } from "astro-nanostores-i18n:runtime";
import Image from "astro/components/Image.astro";
import { getEntry } from "astro:content";

type Props = {
  class?: string;
  gallery: string;
};

const { class: className, gallery } = Astro.props;
const locale = currentLocale.get();
const galleryEntry = await getEntry("galleries", `${gallery}/${locale}`);
if (!galleryEntry) {
  throw new Error(`Gallery not found: ${gallery} (${locale})`);
}
---

<section class:list={[className]}>
  <slot name="title" />
  <div>
    {
      galleryEntry.data.items.map((item) => (
        <Image src={item.photo} width={800} alt={typeof item.label === "string" ? item.label : ""} />
      ))
    }
  </div>
</section>

<style>
  section {
    & > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;

      img {
        height: auto;
        width: 100%;
        object-fit: cover;
        border-radius: var(--size-border-radius);
        filter: saturate(0.2);
        transition: 1s;

        &:hover {
          filter: saturate(1);
        }
      }
    }
  }
</style>
