---
import { currentLocale } from "astro-nanostores-i18n:runtime";
import Image from "astro/components/Image.astro";
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";

type Props = {
  class?: string;
  title: string;
};

const { class: className, title } = Astro.props;
const locale = currentLocale.get();
console.log(className);
console.log(await getCollection("galleries"));
const gallery = await getEntry("galleries", `${title}/${locale}`);
if (!gallery) {
  throw new Error(`Gallery not found: ${title} (${locale})`);
}
---

<section class:list={[className]}>
  <slot name="title" />
  <div>
    {
      gallery.data.items.map((item) => (
        <div>
          <Image src={item.photo} alt={typeof item.label === "string" ? item.label : ""} />
        </div>
      ))
    }
  </div>
</section>
