---
import { currentLocale, useI18n } from "astro-nanostores-i18n:runtime";
import { version } from "../../../package.json";
import { params } from "@nanostores/i18n";
import Sprite from "../../components/Sprite.astro";
import { C } from "../../site.config";
import Contact from "./Contact.astro";
import { prepareNavigation } from "../../utils/paths";
import Navigation from "../../components/Navigation.astro";
import Address from "./Address.astro";

const locale = currentLocale.get();
const navigation = await prepareNavigation(`footer/${locale}`);
const messages = useI18n("layouts/groups/Footer.astro", {
  copyright: "© 2025 openscript GmbH",
  version: params("Version {version}"),
});
---

<style>
  footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding-block: var(--size-gutter-big);
  }

  .contact {
    display: flex;
    gap: var(--size-gutter-big);

    svg {
      fill: var(--color-secondary);
      height: auto;
      width: 4rem;
      transform: rotate(300deg);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .copyright {
    font-size: 0.8rem;
    color: var(--color-background);
  }

  .links {
    display: flex;
    align-items: center;
    gap: var(--size-gutter-big);

    svg {
      fill: var(--color-background);
      width: 2.4rem;
    }
  }
</style>

<footer>
  <div class="contact">
    <Sprite name="arrow" />
    <Address />
    <Contact withoutLanguageSwitcher />
  </div>
  <span class="copyright">{messages.copyright} / {messages.version({ version })}</span>
  <div class="links">
    <nav>
      <Navigation items={navigation} />
    </nav>
    <a href={C.SETTINGS.META.LINKEDIN} target="_blank" rel="noopener" aria-label="LinkedIn">
      <Sprite name="linkedin" />
    </a>
    <a href={C.SETTINGS.META.GITHUB} target="_blank" rel="noopener" aria-label="GitHub">
      <Sprite name="github" />
    </a>
  </div>
</footer>
