---
import Sprite from "../../components/Sprite.astro";
import { resolvePath } from "../../utils/paths";
import { currentLocale } from "astro-nanostores-i18n:runtime";
import { C } from "../../site.config";
import LanguageSwitcher from "../../components/LanguageSwitcher.astro";

type Props = {
  translations?: Record<string, string>;
};

const { translations } = Astro.props;
const locale = currentLocale.get();
---

<style>
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-90);
  }

  div :global(a) {
    font-weight: 900;
    color: var(--color-white);
    text-decoration: none;
  }

  div :global(svg) {
    fill: var(--color-white);
    width: 2rem;
  }

  div :global(ul) {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  div ul li:not(:last-of-type)::after {
    content: "/";
    margin: 0 0.8rem;
    color: var(--color-secondary);
    font-weight: bold;
  }

  div > a {
    display: flex;
    align-items: center;
    font-family: var(--fonts-heading);
    gap: var(--space-gutter);
    font-size: 0.8rem;
  }
</style>

<div id="ribbon">
  <a href={resolvePath(`${locale === C.DEFAULT_LOCALE ? "" : locale}`)}>
    <Sprite name="brand" />
    <span>{C.SETTINGS.META.TITLE}</span>
  </a>
  <nav>
    <ul>
      <li>
        <a href={`tel:${C.SETTINGS.META.PHONE.replaceAll(" ", "")}`}>{C.SETTINGS.META.PHONE}</a>
      </li>
      <li>
        <a href={`mailto:${C.SETTINGS.META.EMAIL}`}>{C.SETTINGS.META.EMAIL}</a>
      </li>
      <li>
        <LanguageSwitcher locale={locale} translations={translations} />
      </li>
    </ul>
  </nav>
</div>
